<footer class="footer text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-5 mb-lg-0">
        <h4 class="text-uppercase mb-4">phone number</h4>
        <p class="phoneNumber">(760) 274-4904</p>
      </div>
      <div class="col-md-4 mb-5 mb-lg-0">
        <h4 class="text-uppercase mb-4">FIND ME ON</h4>
        <ul class="list-inline mb-0">
          <li class="list-inline-item">
            <a
              class="btn btn-outline-light btn-social text-center rounded-circle"
              href="https://github.com/stephieplusthree?tab=repositories"
            >
              <i class="fab fa-fw fa-github"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a
              class="btn btn-outline-light btn-social text-center rounded-circle"
              href="https://www.linkedin.com/in/stephanie-cragg-a312401a4/"
            >
              <i class="fab fa-fw fa-linkedin-in"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a
              class="btn btn-outline-light btn-social text-center rounded-circle"
              href="#"
            >
              <i class="fas fa-fw fa-envelope"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-4 mb-5 mb-lg-0">
        <h4 class="text-uppercase mb-4">email address</h4>
        <p class="email">stephieplusthree@gmail.com</p>
      </div>
    </div>
</footer>

<div class="copyright py-4 text-center text-white">
  <div class="container">
    <small>Copyright &copy; 2020 Stephanie Cragg -- All Rights Reversed</small>
  </div>
</div>
